<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<th:block th:replace="admin/layoutStylist.html :: header"></th:block>
<div class="container">
  <button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="create" onclick="showCreate()">
    Create
  </button>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="stylistForm">
            <div class="row">
              <div id="formBody">

              </div>
              <div style="margin-top: 50px">
                <label id="images" for="file">
                  <img class="avatar-preview" src="../assets/img/img.png" style="height: 100px; width: 100px"/>
                  <input id="file" class="d-none" type="file" multiple="multiple"  onchange="previewImage(event)">
                </label>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="saveChangesButton">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
        <tr>
          <th class="col-1">No.</th>
          <th class="col-2">Name</th>
          <th class="col-2">Avatar</th>
          <th class="col-2">Gender</th>
          <th class="col-2">Status</th>
          <th class="col-3" style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody class="table-border-bottom-0" id="tBody">
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <nav aria-label="...">
      <ul class="pagination" id="pagination">

      </ul>
    </nav>
  </div>
</div>

<th:block th:replace="admin/layout.html :: footer"></th:block>
<script src="/assets/admin/myjs/stylist.js"></script>
</html>