<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Barber HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <!-- CSS here -->
  <th:block th:replace="layout/css" />
<!--  <style>-->
<!--    #signOut{-->
<!--      display: none !important;-->
<!--    }-->
  </style>
</head>

<body>
<!-- ? Preloader Start -->
<th:block th:replace="layout/navbar-home" />
<main>
  <!--? slider Area Start-->
  <div class="slider-area position-relative fix">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-11 col-sm-10">
              <div class="hero__caption">
                <span data-animation="fadeInUp" data-delay="0.2s">đến với BARBER SALON</span>
                <h1 data-animation="fadeInUp" data-delay="0.5s">KIỂU TÓC CỦA BẠN TẠO NÊN CÁ TÍNH CỦA BẠN </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Slider -->
      <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-11 col-sm-10">
              <div class="hero__caption">
                <span data-animation="fadeInUp" data-delay="0.2s">đến với BARBER SALON</span>
                <h1 data-animation="fadeInUp" data-delay="0.5s">KIỂU TÓC CỦA BẠN TẠO NÊN CÁ TÍNH CỦA BẠN</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- stroke Text -->
    <div class="stock-text">
      <h2>Tăng sự tự tin <br>Thể hiện đẳng cấp</h2>
      <h2>Tăng sự tự tin <br>Thể hiện đẳng cấp</h2>
    </div>m
    <!-- Arrow -->
  </div>
  <!-- slider Area End-->
  <!--? About Area Start -->
  <section class="about-area section-padding30 position-relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-11">
          <!-- about-img -->
          <div class="about-img ">
            <img src="assets/img/gallery/about.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="about-caption">
            <!-- Section Tittle -->
            <div class="section-tittle section-tittle3 mb-35">
              <span>VỀ Salon CHÚNG TÔI</span>
              <h2>20 NĂM KINH NGHIỆM CẮT TÓC!</h2>
            </div>
            <p class="mb-30 pera-bottom">Chúng tôi giới thiệu các dịch vụ với bố cục linh hoạt,
              thuận tiện và thời thượng. Bạn có thể chọn các dịch vụ yêu thích của mình cho
              các nội
              dung cụ thể với khả năng tùy chỉnh và sáng tạo không giới hạn. Sự sao chép hoàn hảo của các
              nhà thiết kế là mục đích của chúng tôi.</p>
            <p class="pera-top mb-50">Chúng tôi xin giới thiệu các dịch vụ đáp ứng nhu cầu của bạn một cách
              thuận lợi và tiện dụng nhất. Chắc chắn bạn có thể yêu thích.</p>
            <img src="assets/img/gallery/signature.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- About Shape -->
    <div class="about-shape">
      <img src="assets/img/gallery/about-shape.png" alt="">
    </div>
  </section>
  <div class="team-area pb-180">
    <div class="container">
      <!-- Section Tittle -->
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-11 col-sm-11">
          <div class="section-tittle text-center mb-100">
            <span>ĐỘI NGŨ CHUYÊN NGHIỆP</span>
            <h2>HOÀN TOÀN LÀ NHỮNG TAY THỢ LÀNH NGHỀ GIÀU KINH NGHỆM PHỤC VỤ CHO BẠN</h2>
          </div>
        </div>
      </div>
      <div class="row team-active dot-style">
        <!-- single Tem -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-" th:each="stylist:${stylists}">
          <div class="single-team mb-80 text-center">
            <div class="team-img">
              <img th:src="${stylist.images[0]}" style="width: 370px; height: 492.4px">
            </div>
            <div class="team-caption">
              <span>Master Barber</span>
              <h3><a href="/booking" th:text="${stylist.name}"></a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->
  <!-- Best Pricing Area Start -->
  <div class="best-pricing section-padding2 position-relative">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-xl-7 col-lg-7">
          <div class="section-tittle mb-50">
            <span>VỀ DỊCH VỤ</span>
            <h2>đảm bảo giá tốt nhất <br> trong thành phố!</h2>
          </div>
          <!-- Pricing  -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="pricing-list">
                <ul th:each="service: ${hairDetails}" class="service_home">
                  <li th:text="${service.name}" class="service_items_home">
                  </li>
                    <li class="service_items_home" th:text="' .................... ' + ${service.price} + ' VND'"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pricing img -->
    <div class="pricing-img">
<!--      <img class="pricing-img1" src="assets/img/gallery/pricing1.png" alt="">-->
      <img class="pricing-img2" src="assets/img/gallery/pricing2.png" alt="">
    </div>
  </div>
  <!-- Best Pricing Area End -->
  <!--? Gallery Area Start -->
  <div class="gallery-area section-padding30">
    <div class="container">
      <!-- Section Tittle -->
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-9 col-sm-10">
          <div class="section-tittle text-center mb-100">
            <span>Bộ sưu tập hình ảnh của chúng tôi</span>
            <h2>một vài hình ảnh từ BARBER Salon</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img " style="background-image: url(/assets/img/gallery/gallery1.png);">
            </div>
            <div class="overlay"></div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img " style="background-image: url(/assets/img/gallery/gallery2.png);">
            </div>
            <div class="overlay"></div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img " style="background-image: url(/assets/img/gallery/gallery3.png);">
            </div>
            <div class="overlay"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img " style="background-image: url(/assets/img/gallery/gallery4.png);">
            </div>
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Blog Area End -->
</main>
<footer>
  <th:block th:replace="layout/footer" />
</footer>

<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<th:block th:replace="layout/js" />
<script>
  $("#signOut").click(function(){
    $("#signIn").show();
    $("#signOut").hide();
  });
  $("#signIn").click(function(){
    $("#signIn").hide();
    $("#signOut").show();

  });
</script>



</body>

</html>